<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard ~ Sova Skills</title>
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/animate.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg p-hide">
        <div class="container-fluid">
            <!-- LOGO -->
            <div class="sova-skills-back-button">
                <a href="../../index.html"><img width="40px" src="../../assets/img/icons/back-icon.svg"></a>
            </div>
            <button class="navbar-toggler navbar-toggler-right third-button" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <div class="animated-icon3"><span></span><span></span><span></span></div>
            </button>
            <div class="navbar-collapse collapse justify-content-center" id="navbarCollapse">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <a href="http://localhost:8000/<%= currUser.roles[0] %>/home"
                            class="nav-link close-menu active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://localhost:8000/<%= currUser.roles[0] %>/academics"
                            class="nav-link close-menu">Academics</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://localhost:8000/<%= currUser.roles[0] %>/courses"
                            class="nav-link close-menu">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://localhost:8000/<%= currUser.roles[0] %>/community"
                            class="nav-link close-menu">Community</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://localhost:8000/<%= currUser.roles[0] %>/competitions"
                            class="nav-link close-menu">Competitions</a>
                    </li>
                    <li class="nav-item">
                        <a href="logout/" class="nav-link close-menu sova-skills-btn-1">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar End-->

    <!-- Back Button Start -->
    <div class="sova-skills-back-button m-hide">
        <a href="../../index.html"><img width="40px" src="../../assets/img/icons/back-icon.svg"></a>
    </div>
    <!-- Back Button End -->

    <!-- Section Start -->
    <section class="sova-skills-dashboard">
        <div class="container-fluid">
            <div class="row d-flex align-items-center">
                <div class="col-lg-2 col-md-2 m-hide text-left">
                    <a class="navbar-brand logo" href="#">
                        <img src="../../assets/img/logo.svg" alt="sova-skills-logo">
                    </a>
                </div>
                <div class="col-lg-8 col-md-8 text-center search-bar">
                    <input type="search" placeholder="search...">
                    <div class="search-icon">
                        <img width="20px" src="../../assets/img/icons/search-icon.svg" alt="search-icon">
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 m-hide">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-center sova-skills-btn-6" href="#"
                                id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <%= currUser.firstName %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Section End -->

    <!-- Section Start -->
    <section class="sova-skills-dashboard">
        <div class="container-fluid-1">
            <div class="row">
                <div class="col-lg-2 col-md-3 m-hide side-bar">
                    <div class="sova-skills-sidebar">
                        <div class="sova-skills-sidebar-item">
                            <a class="d-flex align-items-center"
                                href="http://localhost:8000/<%= currUser.roles[0] %>/home">
                                <img class="m-2" width="15px" src="../../assets/img/icons/home-icon.svg"
                                    alt="home-icon">
                                <span>Home</span>
                            </a>
                        </div>
                        <div class="sova-skills-sidebar-item">
                            <a class="d-flex align-items-center"
                                href="http://localhost:8000/<%= currUser.roles[0] %>/academics">
                                <img class="m-2" width="15px" src="../../assets/img/icons/academic-icon.svg"
                                    alt="academics-icon">
                                <span>Academics</span>
                            </a>
                        </div>
                        <div class="sova-skills-sidebar-item active">
                            <a class="d-flex align-items-center"
                                href="http://localhost:8000/<%= currUser.roles[0] %>/courses">
                                <img class="m-2" width="15px" src="../../assets/img/icons/course-icon.svg"
                                    alt="courses-icon">
                                <span>Courses</span>
                            </a>
                        </div>
                        <div class="sova-skills-sidebar-item">
                            <a class="d-flex align-items-center"
                                href="http://localhost:8000/<%= currUser.roles[0] %>/community">
                                <img class="m-2" width="15px" src="../../assets/img/icons/community-icon.svg"
                                    alt="community-icon">
                                <span>Community</span>
                            </a>
                        </div>
                        <div class="sova-skills-sidebar-item">
                            <a class="d-flex align-items-center"
                                href="http://localhost:8000/<%= currUser.roles[0] %>/courses">
                                <img class="m-2" width="15px" src="../../assets/img/icons/compi-icon.svg"
                                    alt="competitions-icon">
                                <span>Competitions</span>
                            </a>
                        </div>
                        <div class="sova-skills-sidebar-item pt-4 contact-item">
                            <div class="card">
                                <h2>Support 24/7</h2>
                                <p>Contact us anytime</p>
                                <a href="" class="btn sova-skills-btn-7">Start</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-md-9 sova-skills-content">
                    <div class="row">
                        <div class="col-12">
                            <img src="../../assets/img/dashboard-banner.svg">
                            <% if(currUser.roles[0] === 'admin'){ %>
                            <a href="http://localhost:8000/admin/courses/new">
                                <button>Add New Course</button>
                            </a>
                            <% } %>
                            <div class="row pt-4">
                                <% for(let course of allCourses){ %>
                                    <div class="col-md-6 col-lg-4 col-sm-6 col-12 course-card">
                                        <div class="card">
                                            <img src="../../assets/img/course/c-1.png" class="img-fluid full-img">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p class="course-type">Language</p>
                                                    <p class="course-level"><img width="10px"
                                                            src="../../assets/img/icons/dot-icon.svg">
                                                        <%= course.level %>
                                                    </p>
                                                </div>
                                                <h5 class="card-title bold">
                                                    <%= course.title %>
                                                </h5>
                                                <p class="card-text mb-0">Duration: <%= course.duration %> hours</p>
                                                <p class="card-text mb-0">Class: <%= course.class %>
                                                </p>
                                                <p class="card-text">Support: 1-1</p>
                                                <a href="" class="card-link text-center">
                                                    <p class="mb-0">Join The Class</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <!-- <div class="col-md-6 col-lg-4 col-sm-6 col-12 course-card">
                                    <div class="card">
                                        <img src="../../assets/img/course/c-1.png" class="img-fluid full-img">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="course-type">Language</p>
                                                <p class="course-level"><img width="10px" src="../../assets/img/icons/dot-icon.svg"> Beginner</p>
                                            </div>
                                            <h5 class="card-title bold">Enterpreneurship</h5>
                                            <p class="card-text mb-0">Duration: 8 hours</p>
                                            <p class="card-text mb-0">Class: Recorded</p>
                                            <p class="card-text">Support: 1-1</p>
                                            <a href="" class="card-link text-center"><p class="mb-0">Join The Class</p></a>
                                        </div>
                                    </div>
                                </div> -->
                                        <!-- <div class="col-md-6 col-lg-4 col-sm-6 col-12 course-card">
                                    <div class="card">
                                        <img src="../../assets/img/course/c-1.png" class="img-fluid full-img">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="course-type">Language</p>
                                                <p class="course-level"><img width="10px" src="../../assets/img/icons/dot-icon.svg"> Beginner</p>
                                            </div>
                                            <h5 class="card-title bold">Enterpreneurship</h5>
                                            <p class="card-text mb-0">Duration: 8 hours</p>
                                            <p class="card-text mb-0">Class: Recorded</p>
                                            <p class="card-text">Support: 1-1</p>
                                            <a href="" class="card-link text-center"><p class="mb-0">Join The Class</p></a>
                                        </div>
                                    </div>
                                </div> -->
                                        <!-- <div class="col-md-6 col-lg-4 col-sm-6 col-12 course-card">
                                    <div class="card">
                                        <img src="../../assets/img/course/c-1.png" class="img-fluid full-img">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="course-type">Language</p>
                                                <p class="course-level"><img width="10px" src="../../assets/img/icons/dot-icon.svg"> Beginner</p>
                                            </div>
                                            <h5 class="card-title bold">Enterpreneurship</h5>
                                            <p class="card-text mb-0">Duration: 8 hours</p>
                                            <p class="card-text mb-0">Class: Recorded</p>
                                            <p class="card-text">Support: 1-1</p>
                                            <a href="" class="card-link text-center"><p class="mb-0">Join The Class</p></a>
                                        </div>
                                    </div>
                                </div> -->
                                        <!-- <div class="col-md-6 col-lg-4 col-sm-6 col-12 course-card">
                                    <div class="card">
                                        <img src="../../assets/img/course/c-1.png" class="img-fluid full-img">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="course-type">Language</p>
                                                <p class="course-level"><img width="10px" src="../../assets/img/icons/dot-icon.svg"> Beginner</p>
                                            </div>
                                            <h5 class="card-title bold">Enterpreneurship</h5>
                                            <p class="card-text mb-0">Duration: 8 hours</p>
                                            <p class="card-text mb-0">Class: Recorded</p>
                                            <p class="card-text">Support: 1-1</p>
                                            <a href="" class="card-link text-center"><p class="mb-0">Join The Class</p></a>
                                        </div>
                                    </div>
                                </div> -->
                                        <!-- <div class="col-md-6 col-lg-4 col-sm-6 col-12 course-card">
                                    <div class="card">
                                        <img src="../../assets/img/course/c-1.png" class="img-fluid full-img">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="course-type">Language</p>
                                                <p class="course-level"><img width="10px" src="../../assets/img/icons/dot-icon.svg"> Beginner</p>
                                            </div>
                                            <h5 class="card-title bold">Enterpreneurship</h5>
                                            <p class="card-text mb-0">Duration: 8 hours</p>
                                            <p class="card-text mb-0">Class: Recorded</p>
                                            <p class="card-text">Support: 1-1</p>
                                            <a href="" class="card-link text-center"><p class="mb-0">Join The Class</p></a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section End -->

</body>
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/popper.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/script.js"></script>

</html>